/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Custom CSS */

.main-heading {
    font-size: 25px;
    padding: 20px;
    float: left;
    margin-left: 2%;
}

.right {
    float: right;
    margin: 25px;
    margin-left: 2%;
}

.right a {
    color: rgb(56, 60, 57);
    padding: 25px;
    font-size: 20px;
    text-decoration: none;
}

.container-header {
    background-color: cadetblue;
}

.container-header:before,
.container-header:after {
    content: "";
    display: table;
}

.container-header:after {
    clear: both;
}

/* Main Section====================================== */
.container {
    padding: 10px;
    font-size: 0px;

}

.container:before,
.container:after {
    content: "";
    display: table;
}

.container:after {
    clear: both;
}

.col {
    max-width: 49%;
    border: 1px solid rgb(182, 182, 182);
    padding: 10px;
    box-sizing: border-box;
}

.column1 {
    float: left;
    margin-right: 10px;
}

.column2 {
    float: right;
}

.column-heading {
    margin: 0 auto;
    text-align: center;
    font-size: 22px;
}

.para {
    margin: 20px auto;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
}

img {
    max-width: 100%;
    max-height: 100%;
}

h3 {
    padding: 25px;
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
    margin-top: 100px;
    background-color: cadetblue;
}

/* inline-block positioning ===================================*/


.inline-header-container {
    width: 100%;
    background-color: cadetblue;

}

.inline-heading {
    display: inline-block;
    font-size: 25px;
    padding: 20px;
    margin-left: 3%;
}

.inline-right {
    display: inline-block;
    margin-left: 50%;

}

.inline-right a {
    color: rgb(56, 60, 57);
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
}
.inline-container {
    padding: 10px;
}
.inline-col {
    display: inline-block;
    vertical-align: top;
    width: 49%;
    box-sizing: border-box;
    border: 1px solid rgb(182, 182, 182);
    padding: 10px;
}